@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-media --xs (width <=480px);

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 4.5rem;
  --header-index: 1000;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer utilities {
  .bg-theme {
    background-color: var(--background);
  }

  .text-theme {
    color: var(--foreground);
  }

  .min-h-page {
    min-height: calc(100vh - var(--header-height));
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

body {
  /* height of fixed header */
  padding-top: var(--header-height);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

.control-btn {
  @apply transition-transform duration-100 hover:scale-105;
}


/* global transition for theme changes */
* {
  transition:
    background-color 300ms ease,
    border-color 300ms ease,
    color 300ms ease,
    fill 300ms ease,
    stroke 300ms ease;
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
    --header-height: 4rem;
  }
}